
body {
  background-color: tan;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Movies-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-one {
  text-align: center;
}